@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

canvas{
  display:block;
  vertical-align:bottom;
}
#particles-js{
  width: 100%;
  height: 100%;
  /*background-image: url("background.jpg");*/
  background-image: url("background.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: initial;
  background-position: 50%;
  background-repeat: no-repeat;
}
body{
  background-position: unset;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
.text-center{
  color:#fff; 
  text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.text-center1{
  color:#fff; 
  text-transform:uppercase;
    font-size: 23px;
    margin: -12px 10px 20px 0;
    display: block;
    text-align: center;
}
.box{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.89);
  border-radius:30px;
  padding:80px 70px;
}
.input-container{
  position:relative;
  margin-bottom:25px;
}
.input-container label{
  font-size:16px;
  color:white; 
  }

.input-container input{
  margin: 10px 0px 0px;
  text-align: left;
  border:1px solid #555; 
  border-radius: 20px;
  background:transparent;
  width:100%;
  padding:2px 0 1px 0;
  font-size:16px;
  color:#fff;

}
.input-container input:focus{
border : none; 
 border-bottom:1px solid #e74c3c; 
}





.box1{

  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.89);
  border-radius:30px;
  padding:60px 50px;
}
.box2{
  position:;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.89);
  border-radius:30px;
  padding:60px 50px;
}
.btn{
  float: right;
  color:#fff;
  background-color:seagreen;
  outline: none;
  border: 0;
  color: #fff;
  font-weight: unset;
  padding:5px 10px;
  text-transform:uppercase;
  margin-top:15px;
  border-radius:15px;
  cursor:pointer;
  position:relative;
}
.btn:hover {
    background-color: green;
}
.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.input-container input:focus ,
.input-container input:valid {
 left:-50px;
 font-size:10px; 
}
header {
  background-color: #666;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  color: white;
}
nav {
  background-color: #300;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
}
aside{
  float: left;
  width: 20%;
  height: 280px;
  background: #ccc;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
article {
  float: left;
  padding: 10px;
  width: 75%;
  background-color: #f1f1f1;
  height: 280px; 
}
section::after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

a{
  margin-top:200px;
}
.signuptxt{
  color: red;
}
.logintxt{
  color: green;
}